{% extends 'base.html' %}

{% block content %}
<div class="text-center sign-up-form shadow p-4 mb-5 bg-body rounded">
    <h2>Inscription</h2>
    <main class="form-signin w-100 m-auto">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="w-100 btn btn-lg btn-secondary" type="submit"> S'incrire</button>
        </form>
    </main>
</div>

{% endblock content %}