{% load blog_extras %}

<a href="{% url 'blog_detail' instance.id %}" class="link-dark">
    <div class="col">
        <div class="card shadow-sm">
            <img class="rounded-top" src="{{ blog.photo.image.url }}" width="100%" height="225">        
            <div class="card-body">
                <h5 class="text-center">{{ blog.title }}</h5>
                <p class="text-center"><strong>Écrit par {{ blog.contributors.all|join:", " }}</strong></p>
                <p class="text-center">{{ blog.date_created|get_posted_at_display }}</p>
            </div>
        </div>
    </div>
</a>
