html {
    font-family: Arial;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: underline dotted;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1d3030;
    color:  #ffffe6;
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 15px; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
    line-height: 20px;
}

/* The navigation menu links */
.sidebar a {
    text-decoration: none;
    color:  #ffffe6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 20px;
}

.avatar {
    width: 80%;
    height: 176px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 20px;
    margin-top: 20px;
    text-align: center;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 80px;
    column-gap: 50px; */
}

.post img {
    /* width: 80%; */

    /* width: 200px;
    height: 150px; */
    border-radius: 5px;
}

.blog-view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

.main > p, h2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.pagination {
    text-align: center;    
}

.pagination span {
    color: #1d3030;
}

span a:hover{
    text-decoration: underline dotted;
}

/* .photo {
    margin-top: 100px;
} */