{% extends 'base.html' %}
{% block content %}
    <h2>Photos</h2>
    <div class="grid-container">
        {% for photo in photos %}
        <div class="post">
            <p>{{ photo.caption }}</p>
            <img class="photo" src="{{ photo.image.url }}">
        </div>
        {% endfor %}
    </div>
    ...
    <h2>Blog</h2>
    <div class="grid-container">
        {% for blog in blogs %}
            <div class="post">
                <a href="{% url 'blog_detail' blog.id %}">
                    <h4>Billet : {{ blog.title }}</h4>
                    <img src="{{ blog.photo.image.url }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}